# Mac OSX stuff
.DS_Store

# Object files
*.o
*.ko

# Build files
*.d

# Log output files
SVC/SVC*
SVC/lst
*.__i
SVC/SVC.uvopt

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.crf

